
<div class="row">
  <div class="sort col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
        <div class="form-group input-group input-group-sm">
          <label class="input-group-addon">Sort by     </label>
          <select class="form-control selectpicker bs-select-hidden">
            <option value="" selected="selected">Item</option>
            <option value="">Name (A - Z)</option>
            <option value="">Name (Z - A)</option>
            <option value="">Price (Low &gt; High)</option>
            <option value="">Price (High &gt; Low)</option>
            <option value="">Rating (Highest)</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
        <div class="form-group input-group input-group-sm">
          <label class="input-group-addon"> Category     </label>
          <select class="form-control selectpicker bs-select-hidden">
            <option value="" selected="selected">All Category</option>
            <option value="">1</option>
            <option value="">5</option>
            <option value="">15</option>
            <option value="">20</option>
            <option value="">25</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4 col-md-4 col-xs-12">
        <div class="form-group prices">
          <label>Price</label>
          <div id="ex2" class="price-filter">
            <span class="min">$ 15</span>
            <a href="#" class="one slider-handle"></a>
            <div class="price-range"><div class="bg"></div></div>
            <span class="max">$ 1500</span>
            <a href="#" class="two slider-handle"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12 list hidden-xs text-right">
        <div class="btn-group btn-group-sm">
          <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="icon_grid-2x2"></i></button>
          <button  type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-list-ul" ></i></button>
        </div>
      </div>
    </div>
    <p>Show result 86</p>
  </div>
</div>

