<div [ngClass]="{'col-lg-4 col-md-4 col-sm-6 col-xs-12 product-grid': view === 'grid', 'col-xs-12 product-list': view === 'list'}">
  <div class="product-thumb">
    <div class="image">
      <img [src]="product.image" (click)="goToCard(1)" alt="image" title="image" class="img-responsive">
      <div class="onhover">
        <ul class="list-unstyled" #slideToggle>
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons1" (click)="toggle(slideToggle)" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption" (click)="goToCard(1)">
      <h4>{{product.name}}</h4>
      <p class="price">{{product.price}}</p>
      <div class="rating">
        <i class="icon_star"></i>
        <i class="icon_star"></i>
        <i class="icon_star"></i>
        <i class="icon_star"></i>
        <i class="icon_star"></i>
      </div>
      <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non eleifend erat, vitae aliquam
        metus. Donec orci tellus, rhoncus eget ipsum tempus, dignissim rutrum enim. Integer interdum sapien nec tempus
        luctus.</p>
      <div class="button-group">
        <button type="button"><i class="fa fa-expand"></i></button>
        <button type="button"><i class="icon_piechart"></i></button>
        <button type="button"><i class="icon_heart"></i></button>
        <button type="button"><i class="icon_cart"></i></button>
      </div>
    </div>
  </div>
</div>
