.prices label {
  display: table-cell;
  width: 28%;
  font-size: 14px;
  color: #686868;
  font-weight: 400;
  vertical-align: middle;
  padding: 5px 0 0 0;
}

.price-filter {
  position: relative;
  padding-top: 8px;
  width: 180px;
  display: table-cell;
}
