<app-filter></app-filter>
<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 hidden-xs">
<app-sidebar></app-sidebar>
</div>
<div class="col-sm-9">
  <div class="row">
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image" >
      <img (click)="goToCard(1)" src="/assets/images/product/1.png" alt="image" title="image" class="img-responsive">
      <div class="onhover onhover1">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons1" (click)="toggle()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption" (click)="goToCard(1)">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image" (click)="goToCard(2)">
      <img src="/assets/images/product/2.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover2">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons2" (click)="toggle1()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption" (click)="goToCard(2)">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/3.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover3">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons3" (click)="toggle2()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/4.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover4">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons4" (click)="toggle3()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/5.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover5">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons5" (click)="toggle4()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/6.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover6">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons6" (click)="toggle5()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/7.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover7">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons7" (click)="toggle6()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/8.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover8">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons8" (click)="toggle7()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
</div>
<div class="product-layout product-grid col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="product-thumb">
    <div class="image">
      <img src="/assets/images/product/1.png" alt="image" title="image" class="img-responsive" />
      <div class="onhover onhover9">
        <ul class="list-unstyled">
          <li>
            <button type="button"><i class="icon_cart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_heart"></i></button>
          </li>
          <li>
            <button type="button"><i class="icon_piechart"></i></button>
          </li>
        </ul>
        <button class="icons9" (click)="toggle8()" type="button"><i class="fa fa-bars"></i></button>
      </div>
    </div>
  </div>
    <div class="caption">
      <h4>Organic <span>Onion</span></h4>
      <p class="price">$30.00</p>
    </div>
  </div>
<ul class="list-inline pagination">
  <li>
    <span>Pages</span>
  </li>
  <li class="active">
    <a href="#">1</a>
  </li>
  <li>
    <a href="#">2</a>
  </li>
  <li>
    <a href="#">3</a>
  </li>
  <li>
    <a href="#">4</a>
  </li>
  <li>
    <a href="#">5</a>
  </li>
  <li class="pull-right">
    <a href="#" aria-label="Previous"><i class="arrow_left"></i></a>
    <a href="#" aria-label="Next"><i class="arrow_right"></i></a>
  </li>
</ul>
</div>
</div>
