.shop {
  margin: 80px 0 50px;
}

.col-sm-9 {
  width: 75%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
