<div class="shopdetail">

  <app-loader *ngIf="!productID"></app-loader>

  <div class="container" *ngIf="productID">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <div class="row">
          <!--thumb image code start-->
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <div  class="thumbnail">

              <img [src]="src" title="img" alt="img"/>

              <ul class="thumbnails list-inline">
                <li class="image-additional" *ngFor="let src of imageSrc">
                 <img (click)="imageRotator(image.src)" #image [src]="src" title="img" alt="img" />
                </li>
              </ul>
            </div>
          </div>
          <!--thumb image code end-->

          <!--Product detail code start-->
          <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
            <h5>Organic <span>Onion</span></h5>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <p class="shortdes">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum dolor.
            </p>
            <hr>
            <h5>Product Features</h5>
            <div class="list-unstyled1 featured">
              <p><i class="icon_box-checked"></i> 100% Fresh not Chemicals</p>
              <p><i class="icon_box-checked"></i> 100% Organic food</p>
              <p><i class="icon_box-checked"></i> 100% Fresh Food from farm</p>
            </div>
            <hr>
            <div class="price">
              $55.00
            </div>
            <hr>
            <div class="common">
              <p class="qtypara pull-left">
                <label class="control-label">Qty weight <span>(In kg)</span> : </label>

                <span (click)="onDecrement()" class="minus"><i class="fa fa-minus"></i></span>

                <input type="text" name="quantity" [value]="quantity" size="2" class="form-control" />

                <span (click)="onIncrement()" class="add"><i class="fa fa-plus"></i></span>

                <input type="hidden" name="product_id" value="1" />
              </p>
              <div class="share pull-right">
                <label>Share:</label>
                <ul class="list-inline social">
                  <li>
                    <a href="https://www.facebook.com/" target="_blank">
                      <i class="social_facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank">
                      <i class="social_twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://plus.google.com/" target="_blank">
                      <i class="social_googleplus"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://in.pinterest.com/" target="_blank">
                      <i class="social_pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank">
                      <i class="social_instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="buttons">
              <button type="button" class="btn-default"><i class="icon_cart"></i> add to cart</button>
              <button type="button" class="btn-default"><i class="icon_heart"></i></button>
              <button type="button" class="btn-default"><i class="icon_piechart"></i></button>
            </div>
          </div>
        </div>
        <!-- nav tab-->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab-description" data-toggle="tab">Product Description</a>
          </li>
          <li>
            <a href="#tab-information" data-toggle="tab">Important Info</a>
          </li>
          <li>
            <a href="#tab-review" data-toggle="tab">Reviews</a>
          </li>
          <li>
            <a href="#tab-add" data-toggle="tab">Add Reviews</a>
          </li>
        </ul>
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-description">
                <b>Lorem ipsum dolor sit amet </b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. </p>
                <b>Lorem ipsum dolor sit amet </b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="tab-pane" id="tab-information">
                <b>Freshness guarante </b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse cillum d</p>
                <b>SPA Certification</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <b>Legal Disclaimer</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam.</p>
              </div>
              <div class="tab-pane" id="tab-review">
                <h2>2 Review for Tomato</h2>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="image">
                     <!-- <img src="images/review-img.png" alt="user" title="user" class="img-responsive"/> -->
                    </div>
                    <div class="detail">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse.</p>
                      <ul class="list-inline">
                        <li>
                          john doe -
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                        </li>
                        <li class="pull-right">April 10, 2017</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="image">
                     <!-- <img src="images/review-img.png" alt="user" title="user" class="img-responsive"/> -->
                    </div>
                    <div class="detail">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat. Duis aute irure dolor inreprehenderit in voluptate velit esse.</p>
                      <ul class="list-inline">
                        <li>
                          john doe -
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i></span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                          <span class="fa fa-stack">
														<i class="fa fa-star fa-stack-2x"></i>
													</span>
                        </li>
                        <li class="pull-right">April 10, 2017</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-add">
                <form class="form-horizontal" id="form-review">
                  <h2>Add review</h2>
                  <label>Your Rating</label>
                  <ul class="list-inline">
                    <li>
											<span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                    </li>
                    <li>
											<span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                    </li>
                    <li>
											<span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                    </li>
                    <li>
											<span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                    </li>
                    <li>
											<span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                      <span class="fa fa-stack">
												<i class="fa fa-star fa-stack-2x"></i>
											</span>
                    </li>
                  </ul>
                  <div class="form-group required">
                    <div class="col-md-6 col-sm-12">
                      <label class="control-label" for="input-name">Name</label>
                      <input type="text" name="name" value="" id="input-name" class="form-control" />
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <label class="control-label" for="input-email">Email</label>
                      <input type="text" name="email" value="" id="input-email" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group required">
                    <div class="col-sm-12">
                      <label class="control-label" for="input-review">Message</label>
                      <textarea name="text" rows="4" id="input-review" class="form-control"></textarea>
                    </div>
                  </div>
                  <div class="buttons clearfix">
                    <div class="pull-right">
                      <button type="submit" id="button-review" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
            <img src="/assets/images/banner-1.png" alt="img" title="img" class="img-responsive shopbanner" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 commontop text-center">
            <p>Fresh Foods</p>
            <h4>
              <i class="icon_star_alt"></i>
              <i class="icon_star_alt"></i>
              <i class="icon_star_alt"></i>
              Our products
              <i class="icon_star_alt"></i>
              <i class="icon_star_alt"></i>
              <i class="icon_star_alt"></i>
            </h4>
          </div>
          <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12" *ngFor="let product of ourProducts">
            <div class="product-thumb">
              <div class="image">
                <img [src]="product.image" alt="image" title="image" class="img-responsive" />
                <div class="onhover">
                  <ul class="list-unstyled" #slideToggle>
                    <li>
                      <button type="button"><i class="icon_cart"></i></button>
                    </li>
                    <li>
                      <button type="button"><i class="icon_heart"></i></button>
                    </li>
                    <li>
                      <button type="button"><i class="icon_piechart"></i></button>
                    </li>
                  </ul>
                  <button class="icons1" (click)="toggle(slideToggle)" type="button"><i class="fa fa-bars"></i></button>
                </div>
              </div>
              <div class="caption">
                <h4>{{product.name}}</h4>
                <p class="price">{{product.price}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
