<div class="leftside">
  <div class="highlight">
    <h3>Highlights</h3>
    <ul class="list-unstyled">
      <li>
        <input type="radio" value="None" id="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Deals of the days</a>
      </li>
      <li>
        <input type="radio" id="None1" value="None1"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Free Shipping</a>
      </li>
      <li>
        <input type="radio" value="None2"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Best Sellers</a>
      </li>
      <li>
        <input type="radio" value="None3"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Feature Products</a>
      </li>
    </ul>
  </div>
  <div class="highlight">
    <h3>Category</h3>
    <ul class="list-unstyled">
      <li>
        <input type="radio" value="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Vegetables</a>
      </li>
      <li>
        <input type="radio" value="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Fruits</a>
      </li>
      <li>
        <input type="radio" value="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Meats</a>
      </li>
      <li>
        <input type="radio" value="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Dried Foods</a>
      </li>
      <li>
        <input type="radio" value="None"  name="pool" class="checkclass checkbox-inline"/>
        <a href="#">Organic Juices</a>
      </li>
    </ul>
  </div>

  <div class="bestseller">
    <h3>best sellers</h3>
    <div class="box">
      <div class="image">
        <img src="/assets/images/header1/fresh_veg1.png" alt="image" title="image" class="img-responsive">
      </div>
      <div class="caption">
        <h4>Title Here</h4>
        <p>Vegetables</p>
        <div class="button-group">
          <button type="button"><i class="icon_heart"></i></button>
          <button type="button"><i class="fa fa-expand"></i></button>
          <button type="button"><i class="icon_cart"></i></button>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="/assets/images/header1/fresh_veg2.png" alt="image" title="image" class="img-responsive">
      </div>
      <div class="caption">
        <h4>Title Here</h4>
        <p>Vegetables</p>
        <div class="button-group">
          <button type="button"><i class="icon_heart"></i></button>
          <button type="button"><i class="fa fa-expand"></i></button>
          <button type="button"><i class="icon_cart"></i></button>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="/assets/images/header1/fresh_veg3.png" alt="image" title="image" class="img-responsive">
      </div>
      <div class="caption">
        <h4>Title Here</h4>
        <p>Vegetables</p>
        <div class="button-group">
          <button type="button"><i class="icon_heart"></i></button>
          <button type="button"><i class="fa fa-expand"></i></button>
          <button type="button"><i class="icon_cart"></i></button>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="/assets/images/header1/fresh_veg4.png" alt="image" title="image" class="img-responsive">
      </div>
      <div class="caption">
        <h4>Title Here</h4>
        <p>Vegetables</p>
        <div class="button-group">
          <button type="button"><i class="icon_heart"></i></button>
          <button type="button"><i class="fa fa-expand"></i></button>
          <button type="button"><i class="icon_cart"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="popular">
    <h3>tags</h3>
    <ul class="list-inline">
      <li>
        <a href="#">Vegetables</a>
      </li>
      <li>
        <a href="#">Fruits</a>
      </li>
      <li>
        <a href="#">Meat</a>
      </li>
      <li>
        <a href="#">Dried food</a>
      </li>
      <li>
        <a href="#">Healthy</a>
      </li>
      <li>
        <a href="#">Fish</a>
      </li>
      <li>
        <a href="#">Gym Food</a>
      </li>
    </ul>
  </div>
</div>
